    body {
        background-color: bisque;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: darkred;
    }
    
    .container {
        margin: 0 auto;
        width: 70%;
        border: solid 2px black;
        text-align: center;
    }
    
    .contenido {
        font-family: 'Courier New', Courier, monospace;
    }